Repository finsite/stock-tech-candlestick: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety, markdownlint, pip-audit

.pre-commit-config.yaml:

---
repos:
  # âœ… Basic Code Hygiene (Trailing Whitespace, Newlines, YAML/JSON Checks)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v5.0.0"
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: detect-private-key

  # âœ… Autoformatting (Black)
  - repo: https://github.com/psf/black
    rev: "25.1.0"
    hooks:
      - id: black

  # âœ… Linting (Flake8)
  - repo: https://github.com/PyCQA/flake8
    rev: "7.1.2"
    hooks:
      - id: flake8
        additional_dependencies: ["flake8-bugbear", "flake8-import-order"]

  # âœ… Type Checking (Mypy)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.15.0"
    hooks:
      - id: mypy

  # âœ… Python Syntax Upgrades (PyUpgrade)
  - repo: https://github.com/asottile/pyupgrade
    rev: "v3.19.1"
    hooks:
      - id: pyupgrade
        args: ["--py311-plus"]

  # âœ… Import Sorting (Isort)
  # - repo: https://github.com/pre-commit/mirrors-isort
  #   rev: "v5.10.1"
  #   hooks:
  #     - id: isort
  #       args: ["."]

  # âœ… Security Checks for Python Code (Bandit)
  - repo: https://github.com/PyCQA/bandit
    rev: "1.8.3"
    hooks:
      - id: bandit
        args: ["-r", "src"]

  - repo: local
    hooks:
      - id: safety
        name: safety
        entry: safety check --full-report
        language: system
        types: [python]

  # âœ… Dead Code & Unused Imports (Vulture)
  - repo: https://github.com/jendrikseipp/vulture
    rev: "v2.14"
    hooks:
      - id: vulture
        args: ["src"]

  # âœ… Dockerfile Linting (Hadolint)
  - repo: https://github.com/hadolint/hadolint
    rev: "v2.13.1-beta"
    hooks:
      - id: hadolint

  # âœ… YAML Linting (Yamllint) - **Fixed Pre-Commit Mirror**
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1  # Use the latest stable version
    hooks:
      - id: yamllint

  # âœ… Markdown Linting (Markdownlint) - **Fixed Pre-Commit Mirror**
  - repo: local
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: npx --no-install markdownlint-cli
        language: system
        files: \.md$
        pass_filenames: true

  # âœ… Shell Script Linter (ShellCheck) - **Fixed Pre-Commit Mirror**
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: "v0.10.0"
    hooks:
      - id: shellcheck

  # âœ… Python Security Check (Pip-Audit) - **Fixed Pre-Commit Mirror**
  - repo: local
    hooks:
      - id: pip-audit
        name: pip-audit
        entry: pip-audit --requirement requirements.txt
        language: system
        types: [python]
        pass_filenames: false  # Prevents passing non-requirements files

  # âœ… Dependency Vulnerability Check (Safety)
  - repo: local
    hooks:
      - id: safety
        name: safety
        entry: safety check --full-report --file=requirements.txt
        language: system
        types: [python]
        pass_filenames: false  # ðŸš€ This prevents extra files from being passed!

  # âœ… Sphinx Documentation Validation
  - repo: local
    hooks:
      - id: sphinx-lint
        name: Sphinx Docs Build
        entry: sphinx-build -W -b html docs/source docs/build
        language: system
        pass_filenames: false
        always_run: true

feat(poller): standard todo across all pollers
  TODO (1).md
  TODO.md
Due: markdownlint

feat(poller): fix queue_sender to make sure it's standardized
  TODO.md
  requirements-dev.txt
  requirements.txt
  src/app/queue_handler.py
Due: safety, markdownlint, pip-audit

fix(poller): integrate updates
  .hooks/check-version-consistency.py
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: safety, pip-audit

feat(versioning): enforce version consistency across pyproject.toml, __init__.py, and changelog
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  src/app/__init__.py
Due: safety, pip-audit

fix(files): Cleanup redundant files and standardize
  .coveragerc
  .cz.yaml
  .dockerignore
  .github/workflows/Bandit Security Scan.yml
  .gitignore
  Makefile
  pyproject.toml
Due: none

fix(deps): standardize termcolor to 2.5.0
  requirements-dev.in
Due: none

fix(deps): standardize termcolor to 2.5.0
  requirements-dev.txt
Due: none

fix(deps): recompile requirements-dev.txt and resolve conflicts
  requirements-dev.in
  requirements-dev.txt
Due: none

chore(sync): batch commit of validated manual changes
  .github/workflows/Bandit Security Scan.yml
  .github/workflows/Pytest Testing.old
  .prettierrc.yaml
  .pylintrc
  compile.out
Due: none

chore(sync): batch commit of validated manual changes with workflows
  .github/workflows/Bandit Security Scan.yml
Due: none

chore(sync): batch commit of docker compose and pre-commit changes
  .pre-commit-config.yaml
  Dockerfile
Due: none

chore(utils): sync cleaned shared utilities from repo-utils-shared
  src/app/utils/rate_limit.py
  src/app/utils/request_with_timeout.py
  src/app/utils/retry_request.py
  src/app/utils/setup_logger.py
  src/app/utils/track_polling_metrics.py
  src/app/utils/track_request_metrics.py
  src/app/utils/validate_data.py
  src/app/utils/validate_environment_variables.py
  src/app/utils/vault_client.py
Due: safety, pip-audit

chore(docs): fix docstring formatting and standardize src/app files
  src/app/config.py
  src/app/logger.py
  src/app/output_handler.py
  src/app/processor.py
  src/app/queue_handler.py
  src/app/queue_sender.py
  src/app/utils/rate_limit.py
  src/app/utils/request_with_timeout.py
  src/app/utils/retry_request.py
  src/app/utils/setup_logger.py
  src/app/utils/track_polling_metrics.py
  src/app/utils/track_request_metrics.py
  src/app/utils/validate_data.py
  src/app/utils/validate_environment_variables.py
  src/app/utils/vault_client.py
Due: safety, pip-audit

chore(docs): fix docstrings and formatting
  src/app/config.py
  src/app/logger.py
  src/app/output_handler.py
  src/app/processor.py
  src/app/queue_handler.py
  src/app/queue_sender.py
  src/app/utils/rate_limit.py
  src/app/utils/request_with_timeout.py
  src/app/utils/retry_request.py
  src/app/utils/setup_logger.py
  src/app/utils/track_polling_metrics.py
  src/app/utils/track_request_metrics.py
  src/app/utils/validate_data.py
  src/app/utils/validate_environment_variables.py
  src/app/utils/vault_client.py
Due: safety, pip-audit

chore(docs): fix docstrings, formatting, and imports
  src/app/config.py
  src/app/logger.py
  src/app/output_handler.py
  src/app/processor.py
  src/app/queue_handler.py
  src/app/queue_sender.py
  src/app/utils/rate_limit.py
  src/app/utils/request_with_timeout.py
  src/app/utils/retry_request.py
  src/app/utils/setup_logger.py
  src/app/utils/track_polling_metrics.py
  src/app/utils/track_request_metrics.py
  src/app/utils/validate_data.py
  src/app/utils/validate_environment_variables.py
  src/app/utils/vault_client.py
Due: safety, pip-audit

chore(docs): fix docstrings, format with black, isort, ruff
  src/app/config.py
  src/app/logger.py
  src/app/output_handler.py
  src/app/processor.py
  src/app/queue_handler.py
  src/app/queue_sender.py
  src/app/utils/rate_limit.py
  src/app/utils/request_with_timeout.py
  src/app/utils/retry_request.py
  src/app/utils/setup_logger.py
  src/app/utils/track_polling_metrics.py
  src/app/utils/track_request_metrics.py
  src/app/utils/validate_data.py
  src/app/utils/validate_environment_variables.py
  src/app/utils/vault_client.py
Due: safety, pip-audit

chore(utils): sync and finalize shared utility modules with validated docstrings
  src/app/utils/setup_logger.py
  src/app/utils/track_polling_metrics.py
  src/app/utils/validate_data.py
  src/app/utils/vault_client.py
Due: safety, pip-audit

chore: apply standardized config.py and queue settings
  src/app/config.py
Due: safety, pip-audit

fix(files): Address workflows timing out issues
  .github/workflows/Automated Version Bump and Changelog.yml
  .github/workflows/Dependency Security Audit.yml
Due: none

chore(sync): update shared config files from repo-utils-shared
  .github/workflows/Dependency Security Audit.yml
Due: none

feat(sync): add full sync_if_needed.py script with logging and Makefile support
  Makefile
Due: none

fix(deps): recompile requirements to resolve dependency conflicts
  requirements-dev.txt
  requirements.txt
Due: none

chore(scripts): improve sync and init scripts for version and path consistency
  .gitattributes
  .github/workflows/Automated Version Bump and Changelog.yml
  .github/workflows/Bandit Security Scan.yml
  .github/workflows/CodeQL Analysis.yml
  .github/workflows/Dependency Security Audit.yml
  .github/workflows/SBOM and License Audit.yml
  .github/workflows/slsa-provenance.yml
  .gitignore
  .hooks/check-version-consistency.py
  .pre-commit-config.yaml
  Makefile
  scripts/generate_k8.py
  scripts/generate_k8_manifests.py
  scripts/init_repo.sh
Due: safety, pip-audit

fix(files): verify pyproject.toml has all required fields
  CHANGELOG.md
  pyproject.toml
Due: markdownlint

chore: remove redundant logger.py files and sync shared config/logging utilities
  .hooks/check-version-consistency.py
  scripts/sync_from_git.py
  src/app/config_shared.py
  src/app/logger.py
  src/app/main.py
  src/app/output_handler.py
  src/app/processor.py
  src/app/queue_handler.py
  src/app/queue_sender.py
  src/app/utils/types.py
  src/app/utils/vault_client.py
Due: safety, pip-audit

fix(types): resolve all Pyright issues and sync output handler signature
  scripts/generate_k8.py
  scripts/generate_k8_manifests.py
  scripts/init_repo.sh
  scripts/sync_from_git.py
  src/app/main.py
  src/app/queue_handler.py
  src/app/utils/types.py
Due: safety, pip-audit

chore(sync): apply shared config, hooks, and fixes from repo-utils-shared
  .hooks/check-version-consistency.py
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  src/app/config.py
  src/app/config_shared.py
  src/app/main.py
  src/app/output_handler.py
  src/app/queue_handler.py
  src/app/queue_sender.py
  src/app/utils/rate_limit.py
  src/app/utils/request_with_timeout.py
  src/app/utils/retry_request.py
  src/app/utils/types.py
  src/app/utils/validate_data.py
  src/app/utils/vault_client.py
Due: safety, markdownlint, pip-audit

chore(hooks): update version consistency check script with auto-fix and lint cleanup
  .hooks/check-version-consistency.py
  requirements-dev.txt
  requirements.txt
Due: safety, pip-audit

chore(shared): sync and standardize shared production-ready modules across all repositories
  src/app/config_shared.py
  src/app/main.py
  src/app/output_handler.py
  src/app/queue_handler.py
  src/app/queue_sender.py
  src/app/utils/types.py
Due: safety, pip-audit

chore(shared): sync and standardize shared production-ready modules across all repositories
  src/app/output_handler.py
  src/app/utils/setup_logger.py
  src/app/utils/types.py
Due: safety, pip-audit

chore(formatting): run pre-commit hooks and fix formatting issues
  .github/dependabot.yml
  .pre-commit-config.yaml
  src/app/config_shared.py
  src/app/main.py
  src/app/output_handler.py
  src/app/queue_sender.py
  src/app/utils/rate_limit.py
  src/app/utils/request_with_timeout.py
  src/app/utils/setup_logger.py
  src/app/utils/track_request_metrics.py
  src/app/utils/types.py
  src/app/utils/vault_client.py
  tests/__init__.py
  tests/test_config.py
  tests/test_output_handler.py
  tests/test_processor.old
  tests/test_queue_handler.py
  tests/test_vault_client.py
  tests/vault_client.py
Due: safety, pip-audit

refactor: standardize config, vault client, and test structure across all repos
  src/app/config.py
  src/app/main.py
  tests/test_output_handler.py
  tests/test_vault_client.py
  tests/vault_client.py
Due: safety, pip-audit
