Repository finsite/stock-tech-candlestick: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety, markdownlint, pip-audit

safety:
  name: safety
  entry: safety check --full-report --file=requirements.txt
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx --no-install markdownlint-cli
  language: system
  pass_filenames: true

pip-audit:
  name: pip-audit
  entry: pip-audit --requirement requirements.txt
  language: system
  pass_filenames: false

fixing workflow job titles
  .github/labeler.yml
  .github/workflows/Apply Labels to Pull Request.yml
  .github/workflows/ArgoCD Linting & Sync Check.yml
  .github/workflows/Auto Assign Issue.yml
  .github/workflows/Build and Push Docker Image.yml
  .github/workflows/Check Outdated Dependencies.yml
  .github/workflows/Cleanup GitHub Cache.yml
  .github/workflows/Cleanup Old Docker Images.yml
  .github/workflows/Cleanup Old Releases.yml
  .github/workflows/Cleanup Old Workflow Logs.yml
  .github/workflows/Cleanup Stale Branches.yml
  .github/workflows/Create Greetings on Pull Request.yml
  .github/workflows/Delete Old Workflow Runs.yml
  .github/workflows/Dependency Security Audit.yml
  .github/workflows/GitHub Actions Cleanup.yml
  .github/workflows/Helm Chart Validation.yml
  .github/workflows/Helm Template & Package Check.yml
  .github/workflows/Mark stale issues and pull requests.yml
  .github/workflows/Performance Benchmarking.yml
  .github/workflows/Ruff linting.old
  .github/workflows/Security Scan.yml
  .github/workflows/Sphynx Documentation Build.yml
  .github/workflows/Static Analysis with Pylint.yml
  .github/workflows/Validate ArgoCD Applications.yml
  .github/workflows/Validate ArgoCD Manifests.yml
  .github/workflows/Validate Kustomize Overlays.yml
  .github/workflows/Validate YAML & JSON.yml
  .github/workflows/check python packaging.yml
  .github/workflows/python linting.yml
  .github/workflows/validate kubernetes files.yml
Due: none

Create SECURITY.md
  SECURITY.md
Due: markdownlint

Create bandit.yml
  .github/workflows/bandit.yml
Due: none

standardizing .pylintrc and all workflows
  .github/workflows/Apply Labels to Pull Request.yml
  .github/workflows/ArgoCD Linting & Sync Check.yml
  .github/workflows/Bandit Security Scan.yml
  .github/workflows/Check Outdated Dependencies.yml
  .github/workflows/Cleanup Artifacts.yml
  .github/workflows/Cleanup GitHub Cache.yml
  .github/workflows/Cleanup Old Docker Images.yml
  .github/workflows/Cleanup Old Releases.yml
  .github/workflows/Cleanup Stale Branches.yml
  .github/workflows/Delete Old Workflow Runs.yml
  .github/workflows/Dependabot Dependency Updates.yml
  .github/workflows/Dependency Security Audit.yml
  .github/workflows/Expire Old Workflow Logs.yml
  .github/workflows/GitHub Actions Cleanup.yml
  .github/workflows/Helm Chart Validation.yml
  .github/workflows/Helm Dry-Run Deployment.yml
  .github/workflows/Helm Template & Package Check.yml
  .github/workflows/Performance Benchmarking.yml
  .github/workflows/Pytest Testing.yml
  .github/workflows/Python Build & Install Check.yml
  .github/workflows/Secret scanning.yml
  .github/workflows/Sphynx Documentation Build.yml
  .github/workflows/Static Analysis with Pylint.yml
  .github/workflows/Validate ArgoCD Applications.yml
  .github/workflows/Validate ArgoCD Manifests.yml
  .github/workflows/Validate Kubernetes YAML.yml
  .github/workflows/Validate Kustomize Overlays.yml
  .github/workflows/Validate YAML & JSON.yml
  .github/workflows/argocd deployment test.yml
  .github/workflows/bandit.yml
  .github/workflows/python linting.yml
  .pylintrc
Due: none

migrating to pyproject.toml fully
  pyproject.toml
Due: none

Transition away from sphynx to mkdocs
  .github/workflows/Deploy MkDocs to GitHub Pages.yml
  .github/workflows/Sphynx Documentation Build.old
  .github/workflows/bandit.yml
  .pre-commit-config.yaml
  docs/Makefile
  docs/api.md
  docs/index.md
  docs/make.bat
  docs/more-details.md
  docs/other-topic.md
  docs/source/app.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/modules.rst
  mkdocs.yml
  pyproject.toml
  requirements-dev.in
  requirements.in
Due: safety, markdownlint, pip-audit

Fixing dependancies with deptre
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
Due: none

Adding Pip Compile to Pre-commit
  .github/workflows/Automated Version Bump and Changelog.yml
  .github/workflows/Check Outdated Dependencies.yml
  .github/workflows/Cleanup Artifacts.yml
  .github/workflows/Cleanup GitHub Cache.yml
  .github/workflows/Cleanup Old Docker Images.yml
  .github/workflows/Cleanup Old Releases.yml
  .github/workflows/Cleanup Stale Branches.yml
  .github/workflows/Delete Old Workflow Runs.yml
  .github/workflows/Dependabot Dependency Updates.yml
  .github/workflows/Dependency Check with Deptry.yml
  .github/workflows/Dependency Security Audit.yml
  .github/workflows/Deploy MkDocs to GitHub Pages.yml
  .github/workflows/Expire Old Workflow Logs.yml
  .github/workflows/GitHub Actions Cleanup.yml
  .github/workflows/Performance Benchmarking.yml
  .github/workflows/Pytest Testing.yml
  .github/workflows/Static Analysis with Pylint.yml
  .github/workflows/bandit.yml
  .pre-commit-config.yaml
Due: none

Add vault_client utility and hvac dependency for Vault integration
  requirements.in
  requirements.txt
  src/app/utils/__init__.py
  src/app/utils/rate_limit.py
  src/app/utils/request_with_timeout.py
  src/app/utils/retry_request.py
  src/app/utils/setup_logger.py
  src/app/utils/track_polling_metrics.py
  src/app/utils/track_request_metrics.py
  src/app/utils/validate_data.py
  src/app/utils/validate_environment_variables.py
  src/app/utils/vault_client.py
  src/app/vault_client.py
Due: safety, pip-audit

Fixing mkdocs template_python typo
  mkdocs.yml
  pyproject.toml
Due: none

Making Sure dockerfile is correct
  Dockerfile
Due: none

Adding additonal version bumping to files
  pyproject.toml
Due: none

Fixing changelog format was missing unreleased
  CHANGELOG.md
Due: markdownlint

Fixing mkdocs extra url in mkdocs.yml
  .prettierrc.yaml
  .yamllint.yaml
  CHANGELOG.md
  Dockerfile
  SECURITY.md
  charts/stock-tech-candlestick/templates/deployment.yaml
  docs/index.md
  k8s/overlays/dev/kustomization.yaml
  mkdocs.yml
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  src/app/processor.py
  src/app/queue_sender.py
Due: safety, markdownlint, pip-audit

Fixing mkdocs extra url in mkdocs.yml
  CHANGELOG.md
  pyproject.toml
Due: markdownlint

Fixing Dependabot for all repos
  .github/dependabot.yml
Due: none

Updating pyproject.toml to add deptry
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/Build and Push Docker Image.yml
  .github/workflows/Pytest Testing.yml
  pyproject.toml
Due: none

Updating pre-commit to allow ruff formatting
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Re-running yamlfix to fix pre-commit
  .pre-commit-config.yaml
Due: none

fixing changelog workflow
  .github/workflows/Auto Assign Issue.yml
  .github/workflows/Automated Version Bump and Changelog.yml
  .github/workflows/Helm Dry-Run Deployment.yml
  .pre-commit-config.yaml
Due: none

fixing changelog workflow
  CHANGELOG.md
Due: markdownlint

fixing yaml again
  .github/workflows/Automated Version Bump and Changelog.yml
Due: none

Fixing versions in changelog
  CHANGELOG.md
  pyproject.toml
Due: markdownlint

Fixing non-functional tests
  tests/test_processor.old
Due: none

Updating pre-commit for additional tools
  .pre-commit-config.yaml
  bump_version.py
  requirements-dev.txt
  requirements.txt
  src/app/main.py
  src/app/output_handler.py
  src/app/processor.py
  src/app/queue_sender.py
  src/app/utils/track_request_metrics.py
  src/app/utils/vault_client.py
  src/app/vault_client.py
Due: safety, pip-audit

Removing setup.cfg and setup.py if they exist
  requirements-dev.txt
  requirements.txt
  setup.py
Due: safety, pip-audit

Verifying application will run
  src/app/output_handler.py
  src/app/queue_handler.py
  src/app/utils/retry_request.py
  src/app/utils/track_request_metrics.py
  src/app/vault_client.py
Due: safety, pip-audit

Updating vault client to a class
  TODO.md
  requirements-dev.txt
  requirements.in
  requirements.txt
  src/app/utils/vault_client.py
Due: safety, markdownlint, pip-audit

Added config.py to all stock-tech repositories for future adjustments
  TODO.md
  src/app/config.py
  src/app/logger.py
  src/app/main.py
  src/app/output_handler.py
  src/app/processor.py
  src/app/queue_handler.py
  src/app/queue_sender.py
  src/app/utils/rate_limit.py
  src/app/utils/request_with_timeout.py
  src/app/utils/retry_request.py
  src/app/utils/setup_logger.py
  src/app/utils/track_polling_metrics.py
  src/app/utils/track_request_metrics.py
  src/app/utils/validate_data.py
  src/app/utils/validate_environment_variables.py
  src/app/utils/vault_client.py
Due: safety, markdownlint, pip-audit

feat(docs): Update changlog generation to commitzen
  .cz.yaml
  .github/workflows/Automated Version Bump and Changelog.yml
  .github/workflows/Deploy Mkdocs Documentation.yml
  .github/workflows/Github Automated Releases.yml
  .pre-commit-config.yaml
  bump_version.py
  mkdocs.yml
  pyproject.toml
  requirements-dev.in
Due: safety, pip-audit

chore(docs): Re-run pre-commit to verify all files
  .cz.yaml
  .github/workflows/Deploy Mkdocs Documentation.yml
  .github/workflows/Github Automated Releases.yml
  .pre-commit-config.yaml
  mkdocs.yml
  requirements-dev.txt
  requirements.txt
  src/app/config.py
Due: safety, pip-audit

fix(docs): Fix pyproject.toml to adjust version to dynamic = [version]
  pyproject.toml
Due: none

fix(docker): Fix workflow not getting version
  .github/workflows/Build and Push Docker Image.yml
  .github/workflows/Pytest Testing.yml
  .pre-commit-config.yaml
Due: none

fix(lint): Fix pre-commit and disable pytest workflow
  .github/workflows/Pytest Testing.old
  .pre-commit-config.yaml
  renovate.json
Due: none

fix(test): Disable pytest performance benchmark
  .github/workflows/Performance Benchmarking.old
  CHANGELOG.md
  requirements-dev.txt
  requirements.txt
  src/app/config.py
  src/app/logger.py
  src/app/main.py
  src/app/output_handler.py
  src/app/processor.py
  src/app/queue_sender.py
  src/app/utils/__init__.py
  src/app/utils/rate_limit.py
  src/app/utils/request_with_timeout.py
  src/app/utils/retry_request.py
  src/app/utils/setup_logger.py
  src/app/utils/track_polling_metrics.py
  src/app/utils/track_request_metrics.py
  src/app/utils/validate_data.py
  src/app/utils/validate_environment_variables.py
  src/app/utils/vault_client.py
Due: safety, markdownlint, pip-audit

fix(docs): Running docformatter to fix repos
  src/app/config.py
  src/app/logger.py
  src/app/main.py
  src/app/output_handler.py
  src/app/processor.py
  src/app/queue_handler.py
  src/app/queue_sender.py
  src/app/utils/rate_limit.py
  src/app/utils/request_with_timeout.py
  src/app/utils/retry_request.py
  src/app/utils/setup_logger.py
  src/app/utils/track_polling_metrics.py
  src/app/utils/track_request_metrics.py
  src/app/utils/validate_data.py
  src/app/utils/validate_environment_variables.py
  src/app/utils/vault_client.py
Due: safety, pip-audit

fix(poller): fix makefile to add more commands
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  Makefile
  README.md
  TODO (1).md
  requirements-dev.in
  requirements-dev.txt
  requirements.in
  requirements.txt
  src/app/config.py
  src/app/logger.py
  src/app/main.py
  src/app/output_handler.py
  src/app/processor.py
  src/app/queue_handler.py
  src/app/queue_sender.py
  src/app/utils/rate_limit.py
  src/app/utils/request_with_timeout.py
  src/app/utils/retry_request.py
  src/app/utils/setup_logger.py
  src/app/utils/track_polling_metrics.py
  src/app/utils/track_request_metrics.py
  src/app/utils/validate_data.py
  src/app/utils/validate_environment_variables.py
  src/app/utils/vault_client.py
Due: safety, markdownlint, pip-audit

Path conditions:
  safety: any of: \.py$
  markdownlint: any of: \.md$
  pip-audit: any of: \.py$
