Repository finsite/stock-tech-candlestick: changes, and which pre-commit hooks are due for each by the changed paths.
All: safety, markdownlint, pip-audit

safety:
  name: safety
  entry: safety check --full-report --file=requirements.txt
  language: system
  pass_filenames: false

markdownlint:
  name: markdownlint
  entry: npx --no-install markdownlint-cli
  language: system
  pass_filenames: true

pip-audit:
  name: pip-audit
  entry: pip-audit --requirement requirements.txt
  language: system
  pass_filenames: false

Updated Pre-Commit Hooks
  .bump-my-version.cfg
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation_update.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/performance_issue.md
  .github/ISSUE_TEMPLATE/refactor_request.md
  .github/ISSUE_TEMPLATE/security_vulnerability.md
  .github/ISSUE_TEMPLATE/support_request.md
  .github/ISSUE_TEMPLATE/task_or_enhancement.md
  .github/ISSUE_TEMPLATE/test_case_suggestion.md
  .github/labeler.yaml
  .github/workflows/Security Scan.yml
  .github/workflows/auto-assign.yml
  .github/workflows/build docker image.yml
  .github/workflows/bump-version.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  .github/workflows/documentation.yml
  .github/workflows/greetings.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/stale.yml
  .github/workflows/static-analysis.yml
  .github/workflows/testing.yml
  .pre-commit-config.yaml
  .prettierrc
  CONTRIBUTING.MD
  Makefile
  README.md
  make.bat
  pylintrc
  requirements.txt
  src/app/main.py
  tests/test_main.py
Due: safety, markdownlint, pip-audit

Updated Pre-Commit Hooks
  requirements-dev.txt
  src/app/main.py
Due: safety, pip-audit

Updated Pre-Commit Hooks
  pyproject.toml
  src/app/__init__.py
Due: safety, pip-audit

Updated Pre-Commit Hooks
  src/app/__init__.py
Due: safety, pip-audit

Updated Pre-Commit Hooks
  pyproject.toml
  src/app/__init__.py
  src/app/main.py
  src/app/processor.py
  src/app/queue_handler.py
Due: safety, pip-audit

Updated Pre-Commit Hooks
  src/app/main.py
  src/app/processor.py
  src/app/queue_handler.py
Due: safety, pip-audit

Updated Pre-Commit Hooks
  .github/workflows/deploy-helm.y
  .github/workflows/deploy-k8s.y
  .pre-commit-config.yaml
  bump_version.py
  helm/chart.yaml
  helm/templates/argocd-application.yaml
  helm/templates/deployment.yaml
  helm/templates/service.yaml
  helm/values-dev.yaml
  helm/values.yml
  k8s/argocd-application.yaml
  k8s/deployment.yaml
  k8s/service.yaml
  setup.cfg
  setup.py
Due: safety, pip-audit

Added Helm Templates
  helm/templates/deployment.yaml
  helm/values-dev.yaml
  k8s/deployment.yaml
  setup.py
Due: safety, pip-audit

Updated Pre-Commit Hooks
  .pre-commit-config.yaml
  helm/chart.yaml
  helm/templates/argocd-application.yaml
  helm/templates/deployment.yaml
  helm/templates/service.yaml
  helm/values.yml
  pytest.ini
  src/app/processor.py
  tests/test_processor.py
Due: safety, pip-audit

Updated Pre-Commit Hooks
  src/app/processor.py
Due: safety, pip-audit

Initial commit with debugging for candlestick patterns
  src/app/processor.py
  tests/test_processor.py
Due: safety, pip-audit

Updated Pre-Commit Hooks
  src/app/processor.py
  src/app/queue_handler.py
Due: safety, pip-audit

Updated Pre-Commit Hooks
  .pre-commit-config.yaml
  bump_version.py
  src/app/output_handler.py
  src/app/processor.py
  src/app/queue_handler.py
Due: safety, pip-audit

Updated Pre-Commit Hooks
  .pre-commit-config.yaml
  tests/test_processor.py
Due: safety, pip-audit

Fix Helm YAML formatting and pass Prettier check
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation_update.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/performance_issue.md
  .github/ISSUE_TEMPLATE/refactor_request.md
  .github/ISSUE_TEMPLATE/security_vulnerability.md
  .github/ISSUE_TEMPLATE/support_request.md
  .github/ISSUE_TEMPLATE/task_or_enhancement.md
  .github/ISSUE_TEMPLATE/test_case_suggestion.md
  .github/workflows/docker-build.yml
  .prettierrc
  CODE_OF_CONDUCT.md
  CONTRIBUTING.MD
  README.md
  helm/templates/service.yaml
Due: markdownlint

Added Requirements.in to fix github action workflow
  requirements.in
  tests/test_processor.py
Due: safety, pip-audit

fixing flake8 workflow
  .flake8
Due: none

fixing workflows
  .github/workflows/Security Scan.yml
  .github/workflows/auto-assign.yml
  .github/workflows/build docker image.yml
  .github/workflows/bump-version.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  .github/workflows/docker-build.yml
  .github/workflows/documentation.yml
  .github/workflows/greetings.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/stale.yml
  .github/workflows/static-analysis.yml
  .github/workflows/testing.yml
Due: none

fixing workflows
  .github/workflows/Bandit Security Scan.yml
  .github/workflows/Dependabot Dependency Updates.yml
  .github/workflows/build docker image.yml
Due: none

fixing workflows
  requirements-dev.txt
Due: none

fixing workflows
  .github/workflows/Dependabot Dependency Updates.yml
Due: none

fixing workflows
  .github/workflows/Apply Labels to Pull Request.yml
  .github/workflows/Auto Assign Issue.yml
  .github/workflows/Bandit Security Scan.yml
  .github/workflows/Build and Push Docker Image.yml
  .github/workflows/Continuous Integration.yml
  .github/workflows/Create Greetings on Pull Request.yml
  .github/workflows/Dependabot Dependency Updates.yml
  .github/workflows/Mark stale issues and pull requests.yml
  .github/workflows/Pytest Testing.yml
  .github/workflows/Secret scanning.yml
  .github/workflows/Security Scan.yml
  .github/workflows/Sphynx Documentation Build.yml
  .github/workflows/argocd deployment test.yml
  .github/workflows/argocd linting and synch check.yml
  .github/workflows/argocd validate manifest.yml
  .github/workflows/check python packaging.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-helm.y
  .github/workflows/deploy-k8s.y
  .github/workflows/helm dry run.yml
  .github/workflows/helm lint.yml
  .github/workflows/helm template validation.yml
  .github/workflows/performance benchmark.yml
  .github/workflows/pip-audit.yml
  .github/workflows/pip-review.yml
  .github/workflows/python linting.yml
  .github/workflows/ruff linting.yaml
  .github/workflows/tatic Analysis with Pylint.yml
  .github/workflows/validate json and yaml.yml
  .github/workflows/validate kubernetes files.yml
Due: none

fixing workflows
  .github/workflows/Cleanup Artifacts.yml
  .github/workflows/Cleanup GitHub Cache.yml
  .github/workflows/Cleanup Old Docker Images.yml
  .github/workflows/Cleanup Old Releases.yml
  .github/workflows/Cleanup Old Workflow Logs.yml
  .github/workflows/Cleanup Stale Branches.yml
  .github/workflows/Delete Old Workflow Runs.yml
  .github/workflows/GitHub Actions Cleanup.yml
Due: none

fixing workflows
  .github/dependabot.yml
Due: none

fixing workflows
  argocd/stock-tech-candlestick/application.yaml
  charts/stock-tech-candlestick/Chart.yaml
  charts/stock-tech-candlestick/templates/deployment.yaml
  charts/stock-tech-candlestick/values.yaml
  k8s/stock-tech-candlestick/deployment.yaml
  k8s/stock-tech-candlestick/service.yaml
Due: none

updated pollers
  bump_version.py
  charts/stock-tech-candlestick/templates/deployment.yaml
  k8s/stock-tech-candlestick/deployment.yaml
  pytest.ini
  requirements.txt
  setup.py
  src/app/output_handler.py
  src/app/processor.py
  src/app/queue_handler.py
Due: safety, pip-audit

updated pollers
  Dockerfile
  src/app/logger.py
  src/app/main.py
  src/app/output_handler.py
  src/app/processor.py
  src/app/queue_handler.py
Due: safety, pip-audit

updated dockerfile
  Dockerfile
Due: none

renamed labeler to fix github actions
  .github/labeler.yml
Due: none

updated output_handler
  src/app/output_handler.py
Due: safety, pip-audit

updated kubernetes files
  .bandit
  charts/stock-tech-candlestick/Chart.yaml
  charts/stock-tech-candlestick/templates/deployment.yaml
  charts/stock-tech-candlestick/values.yaml
  k8s/application/application.yaml
  k8s/base/deployment.yaml
  k8s/base/kustomization.yaml
  k8s/base/service.yaml
  k8s/overlays/dev/kustomization.yaml
Due: none

after fixing queue_sender to standardize
  src/app/output_handler.py
  src/app/processor.py
  src/app/queue_sender.py
Due: safety, pip-audit

fixed yaml linting
  .prettierrc.yaml
  .yamllint.yaml
Due: none

migrating to pyproject.toml fully
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/Static Analysis with Pylint.yml
  pyproject.toml
  setup.cfg
Due: none

Enhance .gitignore with modern Python rules
  .gitignore
Due: none

Fixing workflows and dependancies
  .github/workflows/Apply Labels to Pull Request.yml
  .github/workflows/Automated Version Bump and Changelog.yml
  .github/workflows/Pytest Testing.yml
  .github/workflows/Validate YAML & JSON.yml
  Dockerfile
  requirements-dev.txt
  requirements.txt
Due: none

migrating to pyproject.toml fully
  .bump-my-version.cfg
  .bumpversion.toml
  pyproject.toml
Due: none

Path conditions:
  safety: any of: \.py$
  markdownlint: any of: \.md$
  pip-audit: any of: \.py$
